<div class="controls header">
  <h3>Controls</h3>
  <ul>
    <li id="generate-graph"><a>Generate Graph</a></li>
    <li id="toggle-weights" class="disabled"><a>Toggle Edge Weights</a></li>
    <li id="replay-path" class="disabled"><a>Replay Path</a></li>
    <li id="choose-heuristic" class="disabled"><a>Choose Heuristic Function</a></li>
    <li id="toggle-animations" class="disabled"><a>Animations: turn OFF</a></li>
    <li id="toggle-inspection" class="disabled"><a>Node Inspection: turn OFF</a></li>
  </ul>
</div>

<h3>Console</h3>
<div id="meta" class="console">
  <ul>
  </ul>
  <p class="inspector">
  </p>
</div>


