<div class="controls header">
  <h3>Controls</h3>
  <ul>
    <li id="generate-graph"><a>Generate Graph</a></li>
    <li id="generate-grid"><a>Generate Grid</a></li>
    <li id="toggle-weights" class="disabled"><a>Toggle Edge Weights</a></li>
    <li id="replay-path" class="disabled"><a>Replay Path</a></li>
    <li id="choose-heuristic" class="disabled"><a>Heuristic: ---</a></li>
    <li id="toggle-animations" class="disabled"><a>Animations: <span class="green">ON</span></a></li>
    <li id="toggle-inspection" class="disabled"><a>Node Inspection: <span class="green">ON</span></a></li>
  </ul>
</div>

<h3>Console</h3>
<div id="meta" class="console">
  <ul>
    <li class="result"><span>$. <label class="result-label"></label></span></li>
  </ul>
  <p class="inspector">
  </p>
</div>


