<h3 class="header">Console</h3>
<div id="meta" class="console">
  <p>Graph metadata and other resources will be displayed here.
  
  </p>
</div>

<div class="controls">
<h3>Controls</h3>
  <ul>
    <li><a id="generate-graph">Generate Graph</a></li>
    <li><a class="disabled" id="toggle-weights">Toggle Edge Weights</a></li>
    <li><a class="disabled" id="replay-path">Replay Path</a></li>
    <li><a class="disabled" id="choose-heuristic">Choose Heuristic Function</a></li>
  </ul>
</div>

