<div id="tooltip-loading" class="hidden">
  <p>Processing might take some time, and there's nothing to be alarmed of if you notice CPU usage rising up in the meantime.</p>
</div>
<div id="tooltip-welcome" class="hidden">
  <h1>Use the first button to the left to generate a graph and begin.</h1>
</div>
<div id="tooltip-dynamic" class="hidden"></div>

