<% content_for :scripts do %>

  <%= stylesheets "graph" %>
  <%= javascripts "raphael", "kiwi", "kiwi/bheap", "kiwi/graph", "kiwi/node", "kiwi/edge" %>
  
<script>
  
  function print_graph(graph) {
    
    Pixy.Kiwi.cleanup();

    $("#loader .loading").html("..VISUALIZING..");
        
    $("#meta").empty();
    $("#meta").html("<p>there are <span>" + graph.meta.nr_nodes + "</span> nodes connected by "
      + "<span>" + graph.meta.nr_edges + "</span> edges across <span>"
      + graph.meta.levels + "</span> levels</p>");
      
    Pixy.Kiwi.visualize(graph, function() {
      $("#loader .loading").hide();
      $("#canvas").css("background-image", "none");

      $("#toggle-weights").removeClass("disabled");
      $("#choose-heuristic").removeClass("disabled");

    });
    
  };
  
  $(function() {
    
    Pixy.Kiwi.setup();   
    //$("#loader").hide();
    $("#overlay").hide();
    $("#generate-graph").click(function() {

      $.ajax({
        type: "GET",
        dataType: 'json',
        url: "/graph.json",
        beforeSend: function() {
          Pixy.Kiwi.cleanup();
          $("#loader .welcome").hide();
          $("#canvas").css("background", "url('/images/loaders/8.gif') #111 no-repeat center center");
          $("#loader .loading").show();
        },
        success: function(data) {
          
          graph = data;
          setTimeout(print_graph, 1000, graph);
        }
      });

      return false;
      
    });
    
    $("#toggle-weights").click(function() {
      Pixy.Kiwi.toggle_weights();
    });
    
    $("#replay-path").click(function() {
      Pixy.Kiwi.graph.highlight_path();
    });
    
    $("#choose-heuristic").click(function() {
      $("#overlay").toggle();
      $("#overlay-change-heuristic").show();
    });
    
  });
</script>
  
<% end %>

<div id="graph-container">
  
  <div id="cpanel" class="cpanel grid_3">
    <h3 class="console_header">Console</h3>
    <div id="meta">
      <p>Graph metadata and other resources will be displayed here.
      
      </p>
    </div>
    
    <div class="controls">
    <h3>Controls</h3>
    <ul>
      <li><a id="generate-graph">Generate Graph</a></li>
      <li><a class="disabled" id="toggle-weights">Toggle Edge Weights</a></li>
      <li><a class="disabled" id="replay-path">Replay Path</a></li>
      <li><a class="disabled" id="choose-heuristic">Choose Heuristic Function</a></li>
    </ul>
    </div>

  </div>
  
  <div id="graph" class="grid_14">
    <div id="overlay" class="hidden">
      <div id="overlay-change-heuristic">
        <h1 style="text-align: center">Available heuristic methods</h1>
        <input type="button" class="button" id="heuristic-manhattan" value="Manhattan's Distance" />
        <input type="button" class="button" id="heuristic-euclidean" value="Euclidean Distance" />
        <p>
          The method performed to calculate the heuristic of a node during pathfinding 
          plays a critical role 
          in the efficiency and accuracy of the search. Furthermore, the admissibility
          of the method could even affect whether a path is to be found or not.
        </p>
        <p>Formulaes:
          <ul>
            <li>Manhattan's: 
              <span class="formulae">
                H = |root.x-goal.x| + |root.y-goal.y|
              </span>
            </li>
            <li>Euclidean:
              <span class="formulae">
                H = √[(root.x - goal.x)^2 + (root.y - goal.y)^2]
              </span>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <div id="loader">
      <span class="loading">..GENERATING..</span>
      <span class="welcome">Use the button to the left to generate<br /> a graph and begin.</span>
    </div>
    <div id="canvas" ></div>
  </div>
</div>

