<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title>Scarab</title>

  <%= stylesheets "common", "fonts/Juice/stylesheet", "fonts/Sansation/stylesheet" %>
  <%= javascripts "jquery-1.4.4.min" %>
  	
  <% yield_content :scripts %>

</head>

<body>

<div class="container">

  <!-- header -->  
  <div id="header" class="header">
    <h1>Scarab<span> - an A* pathfinding simulator</span></h1>
  </div>
  
  <!-- content -->
  <div id="content" class="content">
    <%= yield %>
  </div> 

  <!-- footer -->
  <div id="footer" class="footer">
    <span>Tested under: Chromium™ 8.0, Firefox™ 3.6, Safari™ 5.0, Opera™ 10.6. Optimally viewed in Chromium™ in 1280x800> resolution. Developed by <a href="http://www.amireh.net">Amireh</a> 2010</span>
  </div> 

</div>

</body>
</html>
