<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title>Scarab</title>

  <%= stylesheets "common", "fonts/Juice/stylesheet", "fonts/Sansation/stylesheet", "ui-darkness/jquery-ui-1.8.7.custom" %>
  <%= javascripts "jquery-1.4.4.min", "jquery-ui-1.8.7.custom.min" %>
  	
  <% yield_content :scripts %>

</head>

<body>

<div class="container">

  <!-- header -->  
  <div id="header" class="header">
    <h1>Scarab<span> - an A* pathfinding simulator</span></h1>
    
    <div id="fb-like">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fscarab.amireh.net&amp;layout=box_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>
    </div>
  </div>
  
  <!-- content -->
  <div id="content" class="content">
    <%= yield %>
  </div> 

  <!-- footer -->
  <div id="footer" class="footer">
    <span>Tested under: Chromium&reg; 8.0, Firefox&reg; 3.6, Safari&reg; 5.0, Opera&reg; 10.6. Optimally viewed in Chromium&reg; in 1280x800> resolution. Developed by <a href="http://www.amireh.net">Amireh</a> 2010</span>
  </div> 

</div>

</body>
</html>
