body, p, ul, li, input {
  font-family: "SansationRegular", verdana, 'Lucida Grande', helvetica, verdana, arial, sans-serif;
}

body {
  background: url("/images/bg.png") repeat;
  color: #333;
}

a {
  color: #a60000;
}

h1,h2,h3 {
  font-family: "JUICERegular";
}

.container {
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: inline block;
  clear: both;
}

.header {
  display: inline block;
  clear: both;
}

.header h1 {
  font-size: 3em;
  line-height: 0.5em;
  margin-bottom: 20px;
  letter-spacing: 6px;
  cursor: pointer;
  float: left;
}
.header h1 span {
  letter-spacing: 0;
  font-size: 16px;
  font-style: italic;
}

.footer {
  -moz-border-radius: 5px;
  border-radius: 5px;  
  -moz-box-shadow:0 0 10px 1px #999999;
  -webkit-box-shadow:0 0 10px 1px #999999;
  width: 1058px;
  clear: both;
  padding: 0 10px;
  text-align: center;
  margin-top: 10px;
  float: left;
  border: 1px solid #ddd;
}

.footer span {
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  display: block;
}

.hidden {
  display: none;
}

.button {
  padding: 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222;
  background: #111;
  color: #eee;
  cursor: pointer;
}
.button:hover {
  background: #eee;
  color: #111;
}

#fb-like {
  float: right;
  margin-right: 5px;
}
