#about {
  color: #eee;
  padding: 0 0 0 20px;
  width: 220px;
  text-align: left;
  letter-spacing: 0.4px;
  position: absolute;
}

#click-me {
  position: absolute;
  left: 720px;
  width: 100px;
  top: 490px;
  float: none;
}

/* ------------------- *
 * OVERLAYS & TOOLTIPS *
 * ------------------- */
#loader,
#overlay,
#tooltips {
  position: relative;
  width: 0;
  z-index: 5;
  margin: 0; padding: 0;
}

#loader {
  height: 0;
}

#overlay {
  position: absolute;
  width: 740px;
  min-height: 360px;
  background: #eee;
  color: #333;
  opacity: 0.9;
  top: 70px;
  padding: 20px 40px;
}

#tooltips {
  position: absolute;
  width: 740px;
  min-height: 80px;
  background: #eee;
  color: #333;
  opacity: 0.9;
  top: 70px;
  padding: 20px 40px;
}

#tooltip-welcome h1 {
  margin:0;
  padding:0;

}
.close-tooltip,
.close-overlay,
.graph-help,
#click-me {
  float: right;
  font-weight: bold;
  color: #a60000;
}

.close-tooltip a:hover,
.close-overlay a:hover,
.graph-help a:hover,
#click-me a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.welcome {
  position: relative;
  top: 73px;
  left: 0;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  display: block;
  width: 820px;
  text-align: center;
  background: #eee;
  padding: 10px 0;
  opacity: 0.8;
}

.loading {
  position: relative;
  top: 310px;
  left: 300px;
  font-weight: bold;
  font-size: 2em;
  color: #eee;
  display: none;
}

#overlay-change-heuristic p {
  text-align: justify;
}
#overlay-change-heuristic .button {
  width: 49%;
  font-size: 24px;
}
.formulae {
  font-style: italic;
  font-size: 13px;
}

/* ------------- *
 * PAGE & CANVAS *
 * ------------- */
#page {
  position: relative;
  float: left;
    
  width: 820px;
  height: 540px;

  margin-left: 10px;
  margin-right: 10px;

  -moz-box-shadow:0 0 10px 1px #999999;
  -webkit-box-shadow:0 0 10px 1px #999999;

  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  

  background: #111 no-repeat center right;
  background-image: url("/images/scarab.png");

}

#canvas {
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  

  display: none;
 
  color: #fff;
  float: left;
  margin-right: 0;
  width: 820px;
  height: 540px;
  position: relative;
}

#legend {
  position: absolute;
  top: 517px;
  background: #eee;
  color: #333;
  width: 802px;
  height: 20px;
  left: -1px;
  
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  

  padding: 2px 10px;
  overflow: hidden;
}

.graph-help {
  position: absolute;
  top: 20px;
  left: 750px;
  color: #a60000;
}

#legend span {
  float: left;
  margin: 0 8px;
  font-size: 10px;
  padding: 5px 0;
}
#legend span label {
  width: 15px;
  height: 15px;
  border: solid 1px #000;
  float: left;
  margin-right: 4px;
  position: relative;
  top: -4px;
  left: 0;
}

.legend-root {
  background: #a60000;
}
.legend-goal {
  background: #0b7000;
}
.legend-visited {
  background: #333;
}
.legend-path {
  color: #a60000;
  text-align: center;
  padding-top: 2px;
  height: 13px !important;
}
