#about {
  color: #eee;
  padding: 0 0 0 20px;
  width: 220px;
  text-align: left;
  letter-spacing: 0.4px;
}

#loader,
#overlay,
#tooltips {
  position: relative;
  height: 0;
  width: 0;
  z-index: 5;
  margin: 0; padding: 0;
}

.loading {
  position: relative;
  top: 310px;
  left: 300px;
  font-weight: bold;
  font-size: 2em;
  color: #eee;
  display: none;
}

#overlay {
  position: absolute;
  width: 740px;
  height: 360px;
  background: #eee;
  color: #333;
  opacity: 0.9;
  top: 70px;
  padding: 20px 40px;
}

#tooltips {
  position: absolute;
  width: 740px;
  height: 80px;
  background: #eee;
  color: #333;
  opacity: 0.9;
  top: 70px;
  padding: 20px 40px;
}

#tooltip-welcome h1 {
  margin:0;
  padding:0;

}
.close-tooltip {
  float: right;
  font-weight: bold;
  color: #a60000;
  cursor: pointer;
}
.welcome {
  position: relative;
  top: 73px;
  left: 0;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  display: block;
  width: 820px;
  text-align: center;
  background: #eee;
  padding: 10px 0;
  opacity: 0.8;
}

.controls ul {
  list-style-type: none;
  padding: 0;
  min-width: 70%;
  margin: 0;
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
}
.controls ul li {
  border-bottom: 1px solid #222; /*#ffaa00;*/
  background: url("/images/arrow_gray.png") no-repeat 2px center #000;
  color: #eee;
  width: 100%;
  font-size: 13px;
  line-height: 28px;
  padding: 0 5px;
}

.controls ul li:hover {
  background: url("/images/arrow_orange.png") no-repeat 2px center #111;
}
.controls ul li a {
  color: #eee;
  margin-left: 15px;
  cursor: pointer;
  display: block;
  padding: 3px 0 0 0;
}

.controls ul li a:hover {
  text-decoration: underline;
}

.controls ul li a.disabled {
  text-decoration: line-through;
  cursor: default;
}

#cpanel input {
  clear: both;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 92%;

}
#cpanel input:hover {
  background: orange;
}

#cpanel input:disabled {
  border-color: #eee;
  cursor: default;
}
#cpanel input:disabled:hover {
  background: #000;
}

.console_header {
  -moz-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#graph-container {
}

#graph {
  -moz-box-shadow:0 0 10px 1px #999999;
  -webkit-box-shadow:0 0 10px 1px #999999;
  background: #111 no-repeat center right;
  background-image: url("/images/ai_gs.png");
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 820px;
  height: 540px;
  display: block;
  float: left;
}

#canvas {
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
 
  color: #fff;
  float: left;
  margin-right: 0;
  width: 820px;
  height: 540px;
  position: relative;
}

#cpanel {
  width: 240px;
  height: 540px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
  -moz-box-shadow:0 0 10px 1px #999999;
  -webkit-box-shadow:0 0 10px 1px #999999;
  background-color: #111;
  float: left;
  margin-left: 0;
  overflow: hidden;
}

#cpanel h3 {
  color: #333;
  text-align: left;
  background: #eee;
  margin: 0;
  padding: 10px 0;
  border: 0;
  float: left;
  width: 230px;
  padding-left: 10px;
}

#meta,
#cpanel .console {
  float: left;
  /*
  -moz-box-shadow:0 0 10px 1px #999999;
  -webkit-box-shadow:0 0 10px 1px #999999;
  */
/*
  background: #eee;
  color: #333;
  */
  color: #eee;
  padding: 0 15px;
  text-align: justify;
  font-size: 13px;
  min-height: 20px;
  min-width: 180px;
}
#meta p,
.console p {
  padding: 0;
  line-height: 2em;
}
#meta p span {
  font-size: 2em;
  font-weight: bold;
}

.button {
  padding: 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222;
  background: #111;
  color: #eee;
  cursor: pointer;
}
.button:hover {
  background: #eee;
  color: #111;
}
#overlay-change-heuristic p {
  text-align: justify;
}
#overlay-change-heuristic .button {
  width: 49%;
  font-size: 24px;
}
.formulae {
  font-style: italic;
  font-size: 13px;
}
#cpanel .console {
  margin-top: 10px;
  color: #eee;
  display: block;
}

